<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="card p-3">
            <div class="d-flex justify-content-center">
                <div class="img-container">
                    <img src="assets/icons/security.png" height="150">
                </div>
            </div>
            <div class="card-body mt-4">
                <h5 class="card-title text-center">Inicio de sesión</h5>
                <form novalidate [formGroup]="formulario" (ngSubmit)="autenticar()">
                    <div class="input-group mb-1">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="text"
                                class="form-control" 
                                placeholder="Usuario" 
                                formControlName="username"
                                [ngClass]="{ 'is-invalid': enviado && f.username.errors }">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-key"></i>
                            </span>
                        </div>
                        <input type="password" 
                                class="form-control" 
                                placeholder="Contraseña"
                                formControlName="password"
                                [ngClass]="{ 'is-invalid': enviado && f.password.errors }">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        Ingresar »
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>