<div class="card border-primary mb-2">
    <div class="card-header bg-primary">
        {{ titulo }} {{ vigencia }}
    </div>
    <div class="card-body p-0">
        <app-grafica-gauge-circular *ngIf="!cargando && !error && avanceGlobal != null"
            [referencia]="avanceGlobal.fisicoProgramacion | dosDecimales" 
            [valor]="avanceGlobal.fisicoEjecucion | dosDecimales"
            alto="50%">
        </app-grafica-gauge-circular>
    </div>
    
    <div class="card-body p-1 text-center animated fadeIn fast" *ngIf="cargando">
        <app-cargando [mostrar]="cargando"></app-cargando>
    </div>
    <div class="card-body p-1 text-center animated fadeIn fast" *ngIf="!cargando && error">
        <p class="mb-0">
            <i class="fa fa-exclamation-triangle fa-4x"></i>
        </p>
        <p class="mb-2">
            Sin información que mostrar!
        </p>
    </div>

    <div class="card-footer bg-light" *ngIf="piecera != null && !cargando && !error">
        {{ piecera }}
    </div>
</div>