/* Nav Links */
.navbar-custom {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    display: block !important;
    padding: 0.5rem 1.2rem !important;
    color: black !important;
    line-height: 40px;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover,
.navbar-custom .navbar-nav .nav-item .nav-link:focus {
    color: rgba(250, 182, 36, 1) !important;
    text-decoration: none;
}

.navbar-custom .navbar-nav .nav-link.disabled {
    color: #999999 !important;
    pointer-events: none;
    cursor: default;
}

.navbar-custom .navbar-nav .nav-item.show>.nav-link,
.navbar-custom .navbar-nav .nav-item.active>.nav-link,
.navbar-custom .navbar-nav .nav-item .nav-link.show,
.navbar-custom .navbar-nav .nav-item .nav-link.active {
    color: rgb(250, 182, 36) !important;
}


/* Toggler */
.navbar-custom .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2px solid rgba(250, 182, 36, 0.9) !important;
    border-radius: 0.25rem;
}

.navbar-custom-toggler:hover,
.navbar-custom-toggler:focus {
    text-decoration: none;
}

.navbar-custom .navbar-toggler:hover {
    background-color: rgba(250, 182, 36, 0.3) !important;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Linea divisoria */
hr.divider {
    color: #777777 !important;
    background-color: #777777 !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.shadow {
    margin-top: 0px;
    color: rgba(255, 252, 213, 1) !important;
    background-color: rgba(255, 252, 213, 1) !important;
}